.p5-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.p5-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
}

nav {
  border: 1px solid #eaeaea;
  padding: 1rem;
  width: 15%;
  height: 100%;
}

ul {
  padding-left: 1rem;
}

li:hover {
  cursor: pointer;
  font-weight: bold;
}
